@use "./funcs" as *;

// FlexBox Mixins
@mixin spBeet {
  display: flex;
  justify-content: space-between;
}
@mixin dir-col {
  display: flex;
  flex-direction: column;
}
@mixin al-center {
  display: flex;
  align-items: center;
}
@mixin full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Color Hover Effect Mixin
@mixin clr-hover($color) {
  &:hover {
    color: $color;
  }
}

// Bg Color Hover Effect Mixin
@mixin bgc-hover($color) {
  &:hover {
    background-color: $color;
  }
}

// Media Queries Mixins
@mixin ph-brk {
  @media (max-width: rem(730)) {
    @content;
  }
}

@mixin med-brk {
  @media (min-width: rem(731)) and (max-width: rem(1050)) {
    @content;
  }
}
