@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin spBeet() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin breakP() {
  @media (max-width: 790px) {
    @content;
  }
}
@mixin Break($value) {
  @media (max-width: $value) {
    @content;
  }
}
