// Importing Mixins
@import "../helpers/mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 18px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}
button {
  display: block;
  &:focus {
    outline: none;
  }
}
.container {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
