// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dk-Gray: hsl(0, 0%, 55%);
$vry-Dk-Gray: hsl(0, 0%, 41%);

// Fonts
$fAtala: "Alata", sans-serif;
$fJosefin: "Josefin Sans", sans-serif;

// Durations
$trDu: 0.3s;
