// Colors
$orange: hsl(26, 100%, 55%);
$pl-orng: hsl(25, 100%, 94%);
$vrk-Blue: hsl(220, 13%, 13%);
$drk-Grsh-Blue: hsl(219, 9%, 45%);
$grsh-Blue: hsl(220, 14%, 75%);
$lg-grsh-Blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%); // with 75% opacity for lightbox background

// Durations
$trnsDu: 0.3s;
