// Colors
$mod-Cyan: hsl(176, 50%, 47%);
$dark-Cyan: hsl(176, 72%, 28%);
$dark-Gray: hsl(0, 0%, 48%);
$lg-Gray: hsl(0, 0%, 98%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// Durations
$trDu: 0.5s;
