// Colors

$darkV: hsl(256, 26%, 20%);
$grBlue: hsl(216, 30%, 68%);
$vr-DarkV: hsl(270, 9%, 17%);
$dark-GV: hsl(273, 4%, 51%);
$lightG: hsl(0, 0%, 98%);

// Fonts
$headingFont: 'DM Serif Display', serif;
$bodyFont: 'Karla', sans-serif;

// Durations

$trDu: .3s;