// Colors
$stCyan: hsl(172, 67%, 45%);
$dkCyan: hsl(183, 100%, 15%);
$dgCyan: hsl(186, 14%, 43%);
$grCyan: hsl(184, 14%, 56%);
$lgCyan: hsl(185, 41%, 84%);
$vgCyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$errColor: hsl(0, 78%, 57%);

// Durations
$trDu: .3s;