@use "../helpers/funcs" as *;

@use "../helpers/mixins" as *;

@use "../variables/variables" as *;

.header {
  &__container {
    position: relative;

    .cart-content {
      position: absolute;
      right: rem(25);
      top: rem(90);
      z-index: 8999;

      background-color: $white;

      box-shadow: $grsh-Blue 0px 32px 73px -20px, $grsh-Blue -1px 2px 2px -30px;

      border-radius: rem(8);

      transform: translateX(150%);

      opacity: 0;

      transition: $trnsDu ease-out;

      @include ph-brk {
        right: rem(18);
        top: rem(115);
      }

      &.show-cart {
        transform: translateX(0%);

        opacity: 1;
      }

      &.empty {
        .empty-note {
          color: $drk-Grsh-Blue;

          font-weight: bold;

          display: block;

          padding: rem(80) rem(110);
        }
      }

      &__head,
      &__body {
        padding: rem(24) rem(25);
      }

      &__head {
        border-bottom: rem(1) solid rgba($grsh-Blue, 0.4);
      }

      &__body {
        .upper-section {
          @include al-center;
          gap: rem(15);

          margin-bottom: rem(20);

          color: $drk-Grsh-Blue;

          .prod-img {
            width: rem(50);

            border-radius: rem(5);
          }

          .prod-info {
            max-width: rem(215);

            &__name {
              display: block;

              margin-bottom: rem(4);
            }

            &__sin-price,
            &__quantity {
              margin-right: rem(7);
            }

            &__quantity > span:first-of-type {
              margin-right: rem(2.5);
            }

            &__final-price {
              font-weight: bold;

              color: $black;
            }
          }

          .delete-icon {
            cursor: pointer;
          }
        }
        .checkout {
          width: 100%;
        }
      }
    }
  }
  &__content {
    border-bottom: rem(1) solid rgba($grsh-Blue, 0.3);

    width: 100%;

    @include spBeet;

    padding: rem(30) 0;

    @include ph-brk {
      border: none;
    }
  }

  &__left-side,
  &__right-side {
    display: flex;
    align-items: center;
  }

  &__left-side {
    gap: rem(45);

    @include ph-brk {
      gap: rem(25);
    }

    .hamb-icon {
      display: none;

      @include ph-brk {
        display: block;
      }
    }

    .desk-nav,
    .desk-nav > ul,
    .desk-nav > ul > li {
      height: 100%;
    }

    .desk-nav {
      @include ph-brk {
        display: none;
      }
      > ul {
        display: flex;
        gap: rem(25);

        li {
          display: flex;
          align-items: center;

          position: relative;

          &:hover::before {
            width: 100%;
          }

          &:hover > a {
            @include clr-hover($black);
          }

          &::before {
            content: "";

            position: absolute;
            bottom: rem(-30); // padding bottom Of The Big Parent.
            left: 0;

            height: rem(3);
            width: 0%;

            background-color: $orange;

            transition: $trnsDu;
          }

          a {
            color: $drk-Grsh-Blue;

            transition: $trnsDu;
          }
        }
      }
    }

    .mob-nav {
      position: fixed;
      z-index: 9999;
      left: 0;
      top: 0;

      height: 100%;
      width: 60%;

      background: $white;

      padding: rem(20);

      transform: translateX(-200%);

      transition: $trnsDu;

      &.visible {
        transform: translateX(0%);

        box-shadow: rem(1) rem(1) rem(1) 100vh rgba($black, 0.68);
      }

      .close-menu {
        margin-bottom: rem(30);
      }

      ul {
        @include dir-col;
        gap: rem(15);

        a {
          color: $black;

          font-weight: bold;
        }
      }
    }
  }

  &__right-side {
    gap: rem(40);

    @include ph-brk {
      gap: rem(25);
    }

    .cart-img-wrapper {
      position: relative;

      cursor: pointer;

      padding-top: rem(5);

      &__cart {
        cursor: pointer;

        transition: filter $trnsDu;

        &:hover {
          filter: grayscale(100%) brightness(0.1);
        }
      }

      &__number {
        position: absolute;
        top: rem(-2.5);
        left: rem(10);

        width: 80%;

        border-radius: 100vmax;

        text-align: center;

        background-color: $orange;
        color: $white;

        font-weight: bold;
        font-size: rem(10);

        cursor: pointer;
      }
    }

    .user-avatar-wrapper {
      position: relative;

      cursor: pointer;

      height: rem(45);

      @include ph-brk {
        height: rem(35);
      }

      &:hover::before {
        opacity: 1;
      }

      &::before {
        content: "";

        position: absolute;

        left: 0;

        width: 95%;
        height: 95%;

        border: rem(2) solid $orange;
        border-radius: 50%;

        opacity: 0;

        transition: $trnsDu;
      }

      &__avatar {
        width: rem(45);

        object-fit: cover;

        @include ph-brk {
          width: rem(35);
        }
      }
    }
  }
}
