// Importing Variables
@import './variables/_variables.scss';

// Import Mixins
@import './helpers/_mixins.scss';

// Importing Global Rules
@import './layout/_global-rules.scss';

// Start Styling Main Page
.main-wrapper {
    min-height: 100vh;

    background-color: $white;

    overflow: auto;

    position: relative;

    &::before {
        content: '';

        position: absolute;
        left: 0;
        top: 0;

        height: 100%;
        width: 100%;

        background-color: hsla(0, 0%, 0%, 0.588);

        opacity: 0;

        z-index: -1;

        transition: $trDu;
    }
    &.use-overlay::before {
        opacity: 1;

        z-index: 100;
    }
    /* Start Header */
    header {
        max-width: 82.5em;

        padding: 1.5625em 1.25em;
        margin: 0 auto;

        margin-bottom: 3.75em;
        @include phone-break {
            padding-left: 0.9375em;
            padding-right: 0.9375em;

            margin-bottom: 0
        }

        @include spBeet;
        .left-side {
            @include spBeet;
            
            gap: 3.125em;

            @include medium-break {
                align-items: flex-start;
                flex-flow: column;
                gap: 0.9em;
            }
            .logo {
                max-width: 100%;
            }
            .nav-bar {
                display: flex;
                align-items: center;
                gap: 2.5em;

                transition: $trDu;
                @include phone-break {
                    flex-direction: column;

                    position: fixed;
                    right: 0;
                    top: 0;
                    z-index: 9000;

                    background-color: white;

                    width: 65%;
                    height: 100%;

                    padding-top: 5em;
                    padding-left: 1em;

                    gap: 1.5em;

                    &[hidden] {
                        transform: translateX(100%);
                    }
                    &[visible] {
                        transform: translateX(0%);
                    }
                }
                > li {
                    color: $medGray;

                    transition: $trDu;

                    cursor: pointer;

                    font-size: 0.9375rem;
                    
                    &:hover {
                        color: $black;
                    }
                    > a {
                        color: $medGray;

                        transition: $trDu;
                        &:hover {
                            color: $black;
                        }
                    }
                    @include phone-break {
                        width: 100%;
                    }
                    &.has-menu {
                        display: flex;
                        align-items: center;
                        gap: 0.4375em;

                        position: relative;
                        @include phone-break {
                            flex-wrap: wrap;
                        }
                        .arrows {
                            transition: $trDu linear;
                            &[arrow-down] {
                                transform: rotate(0);
                            }
                            &[arrow-up] {
                                transform: rotate(180deg);
                            }
                        }
                        .img-wrapper {
                            @include phone-break {
                                flex-basis: 65%;
                            }
                        }
                        &:hover .nested-menu > li {
                            color: $medGray;
                        }
                        .nested-menu {
                            position: absolute;

                            background-color: hsl(0, 0%, 100%);

                            border-radius: 0.5em;

                            width: fit-content;
                            height: fit-content;

                            padding: 1.4rem;

                            box-shadow: rgb(45 45 64 / 0%) 0px 50px 20px 0px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;

                            @include phone-break {
                                box-shadow: none;

                                position: static;

                                padding-top: 0.625rem;
                                padding-bottom: 0;
                            }
                            &.first {
                                right: 0;
                                bottom: -11rem;
                            }
                            &.second {
                                left: 0;
                                bottom: -9.5em;

                                width: 135%;
                            }
                            &:hover > li {
                                color: $medGray;
                            }
                            &[hidden] {
                                opacity: 0;
                                pointer-events: none;
                            }
                            &[visible] {
                                opacity: 1;
                                pointer-events: all;
                            }
                            li {
                                display: flex;
                                align-items: center;
                                gap: 0.9375rem;

                                text-transform: capitalize;

                                width: 100%;

                                line-height: 1;

                                transition: .3s ease;
                                &:not(:last-of-type) {
                                    margin-bottom: 0.9375em;

                                    @include phone-break {
                                        margin-bottom: 0.8em;
                                    }
                                }
                                &:hover {
                                    color: $black;
                                }
                                > a {
                                    color: inherit;
                                }
                                img {
                                    order: -1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right-side {
            display: flex;
            align-items: center;
            gap: 2.5em;
            
            font-size: 0.9375rem;

            @include medium-break {
                flex-flow: column;
                gap: 0.9em;
            }
            @include phone-break {
                display: none;
            }
            a {
                color: $medGray;
                &:hover {
                    color: $black;
                }
                &.register {
                    button {
                        background-color: transparent;
                        color: inherit;

                        border: 2px solid rgba($medGray, .8);
                        border-radius: 0.9375rem;

                        font-size: inherit;
                        font-family: inherit;

                        cursor: pointer;

                        padding: 0.625rem 1.2rem;
                        &:hover {
                            border-color: $black;
                            color: $black;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            a, button {
                transition: $trDu;
            }
        }
        .hamburger-icon {
            display: none;

            @include medium-break {
                display: none !important;
            }
            
            @include phone-break {
                display: block;

                position: relative;
            }
        }
        .close-hamb {
            display: none;

            position: relative;
            z-index: 9000;
        }
    }
    /* End Header */

    /* Start Main Section*/
    .main {
        @include spBeet;

        padding: 0 9.2rem;

        margin-bottom: 5em;

        @include medium-break {
            padding: 0 1.25em;
        }
        @include phone-break {
            padding: 0;

            flex-direction: column-reverse;

            gap: 3.2em;
        }
        .text {
            flex-basis: 45%;

            padding-top: 9.375em;

            @include medium-break {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            @include phone-break {
                padding: 0 0.9375em;

                display: flex;
                align-items: center;
                flex-direction: column;
            }
            .title {
                font-size: 4.5rem;

                margin-bottom: 2.5rem;

                @include medium-break {
                    font-size: 3.125rem;
                }
                @include phone-break {
                    font-size: 2.3125rem;

                    text-align: center;
                    
                    margin-bottom: 1.2rem;
                }
            }
            .__text {
                margin-bottom: 3.2rem;

                color: $medGray;

                font-size: 1.125rem;
                line-height: 1.5;

                @include medium-break {

                    line-height: 1.8;
                }
                @include phone-break {
                    font-size: 1.03125rem;

                    text-align: center;

                    margin-bottom: 1.3rem;
                    
                }    
            }
            .learn {
                color: $white;
                background-color: $black;

                font-family: inherit;
                font-weight: bold;
                font-size: 0.9375rem;

                text-align: center;
                
                border: 1px solid currentColor;
                border-radius: 0.9375rem;
                
                margin-bottom: 4.7rem;

                cursor: pointer;
                padding: 1.125em 1.7rem;

                transition: $trDu;
                &:hover {
                    background-color: transparent;
                    color: $black;
                }
                @include phone-break {
                    margin-bottom: 2rem;
                }
            }
            .small-images {
                @include spBeet;
                @include medium-break {
                    width: 100%;
                }
                > img {
                    max-width: 100%;

                    @include phone-break {
                        max-width: 20%;
                    }
                }
            }
        }
        .picture {
            flex-basis: 45%;

            > img {
                max-width: 100%;
            }
            .desktop {
                @include phone-break {
                    display: none;
                }
            }
            .phone {
                display: none;
                @include phone-break {
                    display: block;
                }
            }
        }
    }
    /* End Main Section */
}