// Importing Functions
@use "./funcs" as *;

// FlexBox Mixins
@mixin center-All {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin spBeet {
  display: flex;
  justify-content: space-between;
}

@mixin dir-col {
  display: flex;
  flex-direction: column;
}

// Media Queries BreakPoints
@mixin ph-brk {
  @media (max-width: rem(570)) {
    @content;
  }
}
