// Importing Mixins
@import "../helpers/mixins";

// Importin Vars
@import "../variables/variables";

header {
  background-image: url("../images/desktop/image-hero.jpg");
  background-size: cover;
  font-family: $fAtala;
  position: relative;
  min-height: 600px;
  @include breakP() {
    background-image: url("../images/mobile/image-hero.jpg");
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    @include overlay($black, 0.4);
  }
  .container.one {
    padding-top: 50px;
    padding-bottom: 100px;
    @include breakP() {
      padding-bottom: 140px;
      &.menu {
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100vh;
        text-transform: uppercase;
        background-color: $black;
        font-family: $fJosefin;
        .logo {
          flex-basis: 90%;
        }
        ul.links {
          display: flex;
          flex-direction: column;
          order: 5;
          & li a:hover::before {
            display: none;
          }
        }
      }
    }
    position: relative;
    z-index: 5;
    @include spBetween();
    align-items: center;
    .logo {
      img {
        @include breakP() {
          width: 150px;
          position: relative;
          z-index: 20;
        }
      }
    }
    ul.links {
      display: flex;
      @include breakP() {
        display: none;
      }
      li {
        padding: 15px;
        a {
          color: $white;
          position: relative;
          &:hover::before {
            width: 50%;
            left: 50%;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            transform: translateX(-50%);
            height: 2px;
            width: 0;
            background-color: $white;
            transition: $trDu;
          }
        }
      }
    }
    img.hamb {
      display: none;
      @include breakP() {
        &.unclicked {
          display: block;
        }
        &.clicked {
          display: none;
        }
      }
    }
    .close-hamb {
      display: none;
    }
  }
  .container.two {
    position: relative;
    z-index: 5;
    font-family: $fJosefin;
    .text {
      border: 2px solid $white;
      width: fit-content;
      padding: 30px;
      width: 480px;
      @include breakP() {
        width: 340px;
      }
      h1 {
        text-transform: uppercase;
        color: $white;
        font-weight: normal;
        font-size: 50px;
        letter-spacing: 4px;
        @include breakP() {
          font-size: 35px;
        }
      }
    }
  }
}
