// Colors
$stCyan: hsl(171, 66%, 44%);
$lgBlue: hsl(233, 100%, 69%);
$dark-Grsh-Blue: hsl(210, 10%, 33%);
$grBlue: hsl(201, 11%, 66%);
$light-Grsh-Blue: hsl(210, 11%, 96%);
$white: hsl(0, 0%, 100%);

// Durations
$trDu: 0.3s;
