// Colors
$ltGray: hsl(0, 0%, 81%);
$ltG-Blue: hsl(210, 46%, 95%);
$violte: hsl(263, 55%, 52%);
$white: hsl(0, 0%, 100%) ;
$grayishBlue: hsl(217, 19%, 35%);

$cardsColors: hsl(263, 55%, 52%) hsl(217, 19%, 35%) hsl(0, 0%, 100%) hsl(219, 29%, 14%) hsl(0, 0%, 100%);

// Durations
$trDu: .3s;