// Colors
$cyan: hsl(180, 66%, 49%);
$drk-vio: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$gr-vio: hsl(257, 7%, 63%);
$vr-Drk-Blue: hsl(255, 11%, 22%);
$vr-Drk-vio: hsl(260, 8%, 14%);
$white: hsl(0, 0%, 100%);

// Durations
$trnsDu: 0.3s;
