// Colors
$sf-Red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$drk-Brown: hsl(25, 47%, 15%);
$med-Brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$pl-Orange: hsl(33, 100%, 98%);

// Durations
$trDu: 0.3s;
