$vibrant-orange: hsl(26, 100%, 55%);

$pale-orange: hsl(25, 100%, 94%);

$dark-navy: hsl(220, 13%, 13%);

$dark-brown: hsl(23, 72%, 51%);

$light-blue: hsl(229, 7%, 46%);

$slate-blue: hsl(219, 9%, 45%);

$light-slate: hsl(220, 14%, 75%);

$sky-blue: hsl(223, 64%, 98%);

$white: hsl(0, 0%, 100%);

$black: hsl(0, 0%, 0%);

$dark-gray: rgb(64, 64, 64);

$dd: hsl(230, 2%, 51%);
