@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin spBetween() {
  display: flex;
  justify-content: space-between;
}
@mixin overlay($color, $opacity) {
  background-color: rgba($color, $opacity);
}
@mixin breakP() {
  @media (max-width: 1030px) {
    @content;
  }
}
