.intro {
  margin-bottom: rem(100);

  .container {
    @include dir-col;
    align-items: center;

    .__title {
      font-size: rem(35);

      text-transform: capitalize;
    }

    .__text {
      margin-bottom: rem(45);

      max-width: rem(670);
    }
  }
}
