* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  border: none;
}

.container {
  max-width: 73.125rem;
  padding: 0 1.25rem;
  margin-inline: auto;
}

.header__container {
  position: relative;
}
.header__container .cart-content {
  position: absolute;
  right: 1.5625rem;
  top: 5.625rem;
  z-index: 8999;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: hsl(220deg, 14%, 75%) 0px 32px 73px -20px, hsl(220deg, 14%, 75%) -1px 2px 2px -30px;
  border-radius: 0.5rem;
  transform: translateX(150%);
  opacity: 0;
  transition: 0.3s ease-out;
}
@media (max-width: 45.625rem) {
  .header__container .cart-content {
    right: 1.125rem;
    top: 7.1875rem;
  }
}
.header__container .cart-content.show-cart {
  transform: translateX(0%);
  opacity: 1;
}
.header__container .cart-content.empty .empty-note {
  color: hsl(219deg, 9%, 45%);
  font-weight: bold;
  display: block;
  padding: 5rem 6.875rem;
}
.header__container .cart-content__head, .header__container .cart-content__body {
  padding: 1.5rem 1.5625rem;
}
.header__container .cart-content__head {
  border-bottom: 0.0625rem solid rgba(182, 188, 200, 0.4);
}
.header__container .cart-content__body .upper-section {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  margin-bottom: 1.25rem;
  color: hsl(219deg, 9%, 45%);
}
.header__container .cart-content__body .upper-section .prod-img {
  width: 3.125rem;
  border-radius: 0.3125rem;
}
.header__container .cart-content__body .upper-section .prod-info {
  max-width: 13.4375rem;
}
.header__container .cart-content__body .upper-section .prod-info__name {
  display: block;
  margin-bottom: 0.25rem;
}
.header__container .cart-content__body .upper-section .prod-info__sin-price, .header__container .cart-content__body .upper-section .prod-info__quantity {
  margin-right: 0.4375rem;
}
.header__container .cart-content__body .upper-section .prod-info__quantity > span:first-of-type {
  margin-right: 0.15625rem;
}
.header__container .cart-content__body .upper-section .prod-info__final-price {
  font-weight: bold;
  color: hsl(0deg, 0%, 0%);
}
.header__container .cart-content__body .upper-section .delete-icon {
  cursor: pointer;
}
.header__container .cart-content__body .checkout {
  width: 100%;
}
.header__content {
  border-bottom: 0.0625rem solid rgba(182, 188, 200, 0.3);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.875rem 0;
}
@media (max-width: 45.625rem) {
  .header__content {
    border: none;
  }
}
.header__left-side, .header__right-side {
  display: flex;
  align-items: center;
}
.header__left-side {
  gap: 2.8125rem;
}
@media (max-width: 45.625rem) {
  .header__left-side {
    gap: 1.5625rem;
  }
}
.header__left-side .hamb-icon {
  display: none;
}
@media (max-width: 45.625rem) {
  .header__left-side .hamb-icon {
    display: block;
  }
}
.header__left-side .desk-nav,
.header__left-side .desk-nav > ul,
.header__left-side .desk-nav > ul > li {
  height: 100%;
}
@media (max-width: 45.625rem) {
  .header__left-side .desk-nav {
    display: none;
  }
}
.header__left-side .desk-nav > ul {
  display: flex;
  gap: 1.5625rem;
}
.header__left-side .desk-nav > ul li {
  display: flex;
  align-items: center;
  position: relative;
}
.header__left-side .desk-nav > ul li:hover::before {
  width: 100%;
}
.header__left-side .desk-nav > ul li:hover > a:hover {
  color: hsl(0deg, 0%, 0%);
}
.header__left-side .desk-nav > ul li::before {
  content: "";
  position: absolute;
  bottom: -1.875rem;
  left: 0;
  height: 0.1875rem;
  width: 0%;
  background-color: hsl(26deg, 100%, 55%);
  transition: 0.3s;
}
.header__left-side .desk-nav > ul li a {
  color: hsl(219deg, 9%, 45%);
  transition: 0.3s;
}
.header__left-side .mob-nav {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  background: hsl(0deg, 0%, 100%);
  padding: 1.25rem;
  transform: translateX(-200%);
  transition: 0.3s;
}
.header__left-side .mob-nav.visible {
  transform: translateX(0%);
  box-shadow: 0.0625rem 0.0625rem 0.0625rem 100vh rgba(0, 0, 0, 0.68);
}
.header__left-side .mob-nav .close-menu {
  margin-bottom: 1.875rem;
}
.header__left-side .mob-nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.header__left-side .mob-nav ul a {
  color: hsl(0deg, 0%, 0%);
  font-weight: bold;
}
.header__right-side {
  gap: 2.5rem;
}
@media (max-width: 45.625rem) {
  .header__right-side {
    gap: 1.5625rem;
  }
}
.header__right-side .cart-img-wrapper {
  position: relative;
  cursor: pointer;
  padding-top: 0.3125rem;
}
.header__right-side .cart-img-wrapper__cart {
  cursor: pointer;
  transition: filter 0.3s;
}
.header__right-side .cart-img-wrapper__cart:hover {
  filter: grayscale(100%) brightness(0.1);
}
.header__right-side .cart-img-wrapper__number {
  position: absolute;
  top: -0.15625rem;
  left: 0.625rem;
  width: 80%;
  border-radius: 100vmax;
  text-align: center;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  font-weight: bold;
  font-size: 0.625rem;
  cursor: pointer;
}
.header__right-side .user-avatar-wrapper {
  position: relative;
  cursor: pointer;
  height: 2.8125rem;
}
@media (max-width: 45.625rem) {
  .header__right-side .user-avatar-wrapper {
    height: 2.1875rem;
  }
}
.header__right-side .user-avatar-wrapper:hover::before {
  opacity: 1;
}
.header__right-side .user-avatar-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  width: 95%;
  height: 95%;
  border: 0.125rem solid hsl(26deg, 100%, 55%);
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}
.header__right-side .user-avatar-wrapper__avatar {
  width: 2.8125rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 45.625rem) {
  .header__right-side .user-avatar-wrapper__avatar {
    width: 2.1875rem;
  }
}

.main-section {
  padding: 5rem 0;
}
@media (max-width: 45.625rem) {
  .main-section {
    padding-top: 0;
  }
}
@media (max-width: 45.625rem) {
  .main-section__container {
    padding: 0;
  }
}
.main-section__content {
  width: 100%;
  padding: 0 2.1875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 45.625rem) {
  .main-section__content {
    padding: 0;
    align-items: unset;
    flex-direction: column;
    gap: 0.9375rem;
  }
}
.main-section__content > div {
  flex-basis: 45%;
}
.main-section__content img {
  border-radius: 0.875rem;
}
@media (max-width: 45.625rem) {
  .main-section__content img {
    border-radius: 0;
  }
}
.main-section__content .photos-section {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}
@media (min-width: 45.6875rem) and (max-width: 65.625rem) {
  .main-section__content .photos-section {
    gap: 0;
  }
}
.main-section__content .photos-section .products {
  height: 28.125rem;
  position: relative;
  cursor: pointer;
}
@media (min-width: 45.6875rem) and (max-width: 65.625rem) {
  .main-section__content .photos-section .products {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 45.625rem) {
  .main-section__content .photos-section .products {
    height: 23.8125rem;
  }
}
.main-section__content .photos-section .products > .product {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 45.625rem) {
  .main-section__content .photos-section .products > .product {
    max-height: 100%;
    width: 100%;
  }
}
.main-section__content .photos-section .products > .product.show {
  z-index: 5;
  opacity: 1;
}
.main-section__content .photos-section .products .switch-btns {
  padding: 0 1.25rem;
}
.main-section__content .photos-section .thumbnails {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 45.625rem) {
  .main-section__content .photos-section .thumbnails {
    display: none;
  }
}
.main-section__content .photos-section .thumbnails .image-container {
  position: relative;
  width: 20% !important;
  min-width: 3.75rem;
  border-radius: 0.875rem;
  cursor: pointer;
}
.main-section__content .photos-section .thumbnails .image-container:hover:not(.active) > img {
  opacity: 0.5;
}
.main-section__content .photos-section .thumbnails .image-container.active {
  position: relative;
  border: 0.125rem solid hsl(26deg, 100%, 55%);
}
.main-section__content .photos-section .thumbnails .image-container.active::before {
  width: 100%;
}
.main-section__content .photos-section .thumbnails .image-container > img {
  height: 100%;
  transition: 0.3s;
}
.main-section__content .photos-section .thumbnails .image-container::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: rgba(247, 248, 253, 0.7);
  height: 100%;
  width: 0%;
  border-radius: 0.875rem;
  transition: width 0.3s ease-in-out;
}
.main-section__content .buy-section {
  display: flex;
  flex-direction: column;
}
@media (max-width: 45.625rem) {
  .main-section__content .buy-section {
    padding: 0 1.25rem;
  }
}
.main-section__content .buy-section__company-name {
  color: rgba(255, 125, 26, 0.8);
  text-transform: uppercase;
  margin-bottom: 1.0625rem;
  font-size: 0.84375rem;
  letter-spacing: 0.0625rem;
}
.main-section__content .buy-section__product-name {
  font-size: 2.6875rem;
  line-height: 1.1;
  color: hsl(220deg, 13%, 13%);
  margin-bottom: 2.1875rem;
}
@media (min-width: 45.6875rem) and (max-width: 65.625rem) {
  .main-section__content .buy-section__product-name {
    font-size: 2.0625rem;
  }
}
@media (max-width: 45.625rem) {
  .main-section__content .buy-section__product-name {
    font-size: 1.5rem;
    max-width: 18.75rem;
    margin-bottom: 1.125rem;
    line-height: 1.2;
  }
}
.main-section__content .buy-section__product-info {
  color: hsl(219deg, 9%, 45%);
  line-height: 1.5;
  margin-bottom: 1.5625rem;
}
.main-section__content .buy-section__product-price {
  margin-bottom: 3.125rem;
}
@media (max-width: 45.625rem) {
  .main-section__content .buy-section__product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.125rem;
  }
}
.main-section__content .buy-section__product-price .current {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  margin-bottom: 0.75rem;
}
.main-section__content .buy-section__product-price .current .txt {
  color: hsl(220deg, 13%, 13%);
  font-weight: bold;
  font-size: 1.875rem;
}
.main-section__content .buy-section__product-price .current .txt + .discount {
  background-color: rgba(255, 125, 26, 0.1);
  color: hsl(26deg, 100%, 55%);
  font-weight: bold;
  font-size: 0.9375rem;
  padding: 0.25rem 0.5625rem;
  border-radius: 0.3125rem;
}
.main-section__content .buy-section__product-price .old {
  color: hsl(220deg, 14%, 75%);
  font-weight: bold;
  position: relative;
}
.main-section__content .buy-section__product-price .old::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.46875rem;
  width: 100%;
  height: 0.0625rem;
  background-color: hsl(220deg, 14%, 75%);
}
.main-section__content .buy-section__buy-btns {
  display: flex;
  justify-content: space-between;
  gap: 1.125rem;
}
@media (min-width: 45.6875rem) and (max-width: 65.625rem) {
  .main-section__content .buy-section__buy-btns {
    flex-direction: column;
  }
}
@media (max-width: 45.625rem) {
  .main-section__content .buy-section__buy-btns {
    flex-direction: column;
  }
}
.main-section__content .buy-section__buy-btns .count {
  background-color: hsl(223deg, 64%, 98%);
  flex-basis: 32%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
}
.main-section__content .buy-section__buy-btns .count__decrement, .main-section__content .buy-section__buy-btns .count__increment {
  cursor: pointer;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  transition: 0.3s ease-in-out;
}
.main-section__content .buy-section__buy-btns .count__decrement:hover, .main-section__content .buy-section__buy-btns .count__increment:hover {
  opacity: 0.7;
}
.main-section__content .buy-section__buy-btns .count > button {
  background-color: transparent;
  display: flex;
  align-items: center;
}
.main-section__content .buy-section__buy-btns .count__decrement {
  padding-left: 0.75rem;
}
.main-section__content .buy-section__buy-btns .count__increment {
  padding-right: 0.75rem;
}
.main-section__content .buy-section__buy-btns .count__number {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: hsl(220deg, 13%, 13%);
  font-weight: bold;
}
.main-section__content .buy-section__buy-btns .add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  flex-grow: 1;
  box-shadow: 0 0.9375rem 1.75rem -0.625rem hsl(26deg, 100%, 55%);
  transition: 0.3s;
}
.main-section__content .buy-section__buy-btns .add:hover {
  background-color: rgba(255, 125, 26, 0.5);
}
.main-section__content .buy-section__buy-btns .add > img {
  filter: brightness(15);
  width: 1.25rem;
}

.lightbox {
  position: fixed;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9375rem;
  width: 30.125rem;
  padding: 0 1.0625rem;
  transition: all 0.3s ease-in;
}
.lightbox.show-lg {
  opacity: 1;
  z-index: 2000;
}
@media (max-width: 45.625rem) {
  .lightbox {
    display: none !important;
  }
}
.lightbox .close-icon {
  filter: brightness(100);
  width: 1.0625rem;
  cursor: pointer;
  align-self: flex-end;
  transition: 0.3s;
}
.lightbox .close-icon:hover {
  filter: invert(53%) sepia(79%) saturate(1061%) hue-rotate(344deg) brightness(102%) contrast(92%);
}
.lightbox .products {
  height: 25rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
}
.lightbox .products > .product {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 1rem;
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 45.625rem) {
  .lightbox .products > .product {
    max-height: 100%;
    width: 100%;
  }
}
.lightbox .products > .product.show {
  z-index: 5;
  opacity: 1;
}
.lightbox .products .switch-btns {
  display: flex !important;
  padding: 0;
  width: calc(100% + 2.1875rem);
  left: -1.09375rem;
}
.lightbox .thumbnails {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 45.625rem) {
  .lightbox .thumbnails {
    display: none;
  }
}
.lightbox .thumbnails .image-container {
  position: relative;
  width: 20% !important;
  min-width: 3.75rem;
  border-radius: 0.875rem;
  cursor: pointer;
}
.lightbox .thumbnails .image-container.active {
  position: relative;
  border: 0.125rem solid hsl(26deg, 100%, 55%);
}
.lightbox .thumbnails .image-container.active::before {
  width: 100%;
}
.lightbox .thumbnails .image-container > img {
  height: 100%;
  border-radius: inherit;
  transition: 0.3s;
}
.lightbox .thumbnails .image-container::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: rgba(247, 248, 253, 0.7);
  height: 100%;
  width: 0%;
  border-radius: 0.875rem;
  transition: width 0.3s ease-in-out;
}

.orng-btn {
  border-radius: 0.5rem;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  padding: 1.125rem 0;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.switch-btns {
  position: absolute;
  z-index: 100000;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
@media (max-width: 45.625rem) {
  .switch-btns {
    display: flex;
  }
}
.switch-btns .prev-btn,
.switch-btns .next-btn {
  height: 2.1875rem;
  width: 2.1875rem;
  -webkit-clip-path: circle();
          clip-path: circle();
}
.switch-btns .prev-btn.not-allowed,
.switch-btns .next-btn.not-allowed {
  opacity: 0.5;
  cursor: not-allowed;
}
.switch-btns .prev-btn > img,
.switch-btns .next-btn > img {
  width: 0.625rem;
  height: 0.9375rem;
}/*# sourceMappingURL=main.css.map */