// Colors
$pink: hsl(322, 100%, 66%);
$p-Cyan: hsl(193, 100%, 96%);
$d-Cyan: hsl(192, 100%, 9%);
$gr-Blue: hsl(208, 11%, 55%);
$white: hsl(0, 0%, 100%);

// Font Families
$ff-opSans: "Open Sans", sans-serif;

// Durations
$trDu: 0.3s;
