// Colors
$mainBg-Color: hsl(218, 28%, 13%);
$footerBg: hsl(216, 53%, 9%);
$testimBg: hsl(219, 30%, 18%);
$dkBlue: hsl(217, 28%, 15%); // intro and email sign up background
$errorColor: hsl(0, 100%, 63%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$white: hsl(0, 0%, 100%);

// Fonts
$f-Raleway: "Raleway", sans-serif; // 400, 700
$f-OpenSans: "Open Sans", sans-serif; // 400, 700

// Durations
$trDu: 0.3s;
