// Colors
$darkBlue: hsl(243, 87%, 12%);
$desBlue: hsl(238, 22%, 44%);
$brBlue: hsl(224, 93%, 58%);
$modCyan: hsl(170, 45%, 43%);
$lg-Grsh-Blue: hsl(240, 80%, 98%);
$lgGray: hsl(0, 0%, 75%);
$lgRed: hsl(339, 100%, 82%); // Error Color
$white: hsl(0, 0%, 100%);

// Fonts
$ff-Raleway: "Raleway", sans-serif;
$ff-OpSans: "Open Sans", sans-serif;

// Durations
$trDu: 0.3s;
