// Colors
$pink: hsl(322, 100%, 66%);
$lPink: hsl(321, 100%, 78%);
$red: hsl(0, 100%, 63%);
$cyan: hsl(192, 100%, 9%);
$blue: hsl(210, 100%, 98%);
$white: hsl(0, 0%, 100%);

// Fonts
$f-Poppins: "Poppins", sans-serif; // Headings
$f-opSans: "Open Sans", sans-serif; // Body

// Durations
$trDu: 0.3s;
