// Colors
$vlGray: hsl(0, 0%, 98%); // Main Bg
$liRed: hsl(356, 100%, 66%); // CTA TXT
$v-liRed: hsl(355, 100%, 74%); // CTA Hover Bg
$v-DkBlue: hsl(208, 49%, 24%); // Headings
$white: hsl(0, 0%, 100%); // text
$lightGray: hsl(240deg 7% 94%); // Inside nav Bg
$grBlue: hsl(240, 2%, 79%); // footer Txt
$v-DkGrBlue: hsl(207, 13%, 34%); // body copy
$v-DkBlackBlue: hsl(240, 10%, 16%); // footer Bg
//// Gradiants
$dekstop-gradiant-nav: 135deg, hsl(13, 100%, 72%) 10%, hsl(353, 100%, 62%);
$mobile-gradiant-nav: 136deg, hsl(13deg, 100%, 72%) 18%, hsl(353deg, 100%, 62%);
$gradiant-body: 120deg, hsl(237, 17%, 21%) 35%, hsl(237, 23%, 32%);

// Fonts
$font-Overpass: 'Overpass', sans-serif;
$font-Ubuntu: 'Ubuntu', sans-serif;

// Durations
$trDu: .3s;