* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

button {
  display: block;
}

button:focus {
  outline: none;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 910px) {
  .container {
    width: 750px;
  }
}

.navbar {
  background-color: #3dbeff;
  padding: 10px 0;
  font-family: "Barlow", sans-serif;
  min-height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navbar > .container ul.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > .container ul.links.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-48%);
          transform: translateX(-48%);
  top: 82px;
  width: calc(100% - 90px);
  padding: 20px;
  z-index: 10;
}

.navbar > .container ul.links.mobile > li {
  padding: 15px;
}

.navbar > .container ul.links.mobile > li:last-of-type {
  margin-bottom: 7px;
}

.navbar > .container ul.links.mobile > li > a {
  color: #818498;
}

.navbar > .container ul.links.mobile.mobile > button.contact {
  background-color: #fad400;
  margin-left: 0;
}

.navbar > .container ul.links.mobile::before {
  content: "";
  position: absolute;
  top: -22px;
  right: 0px;
  border-width: 16px;
  border-style: solid;
  border-color: transparent white white transparent;
}

@media (max-width: 910px) {
  .navbar > .container ul.links {
    display: none;
  }
}

.navbar > .container ul.links li {
  padding: 20px;
}

.navbar > .container ul.links li a {
  color: white;
  font-size: 16px;
}

.navbar > .container ul.links button.contact {
  background-color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 33px;
  font-weight: bold;
  padding: 1px 23px;
  height: 45px;
  cursor: pointer;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar > .container ul.links button.contact:hover {
  color: white;
  background-color: #70cfff;
}

.navbar > .container img.hamb {
  cursor: pointer;
  display: none;
}

@media (max-width: 910px) {
  .navbar > .container img.hamb {
    display: block;
  }
}

.navbar > .container img.hamb.clicked {
  opacity: 0.6;
}

.landing {
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Fraunces", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  min-height: 470px;
  padding: 60px;
}

@media (max-width: 910px) {
  .landing {
    gap: 55px;
  }
}

.landing h1.title {
  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: 4px;
  font-weight: 800;
}

.landing img {
  height: 80px;
  -webkit-animation: arrow-Down-Up 1s infinite;
          animation: arrow-Down-Up 1s infinite;
  cursor: not-allowed;
}

@media (max-width: 910px) {
  .landing img {
    height: 85px;
  }
}

@-webkit-keyframes arrow-Down-Up {
  0%,
  40%,
  80%,
  100% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  10%,
  20%,
  30%,
  50%,
  60%,
  90% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
}

@keyframes arrow-Down-Up {
  0%,
  40%,
  80%,
  100% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  10%,
  20%,
  30%,
  50%,
  60%,
  90% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
}

.about {
  font-family: "Fraunces", serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50%, 100%))[2];
      grid-template-columns: repeat(2, minmax(50%, 100%));
}

@media (max-width: 910px) {
  .about {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
  }
}

.about img {
  width: 100%;
  height: 100%;
}

@media (max-width: 910px) {
  .about img:first-of-type {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.about .text {
  padding: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

@media (max-width: 910px) {
  .about .text {
    padding: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.about .text h1 {
  color: #23303e;
  font-size: 46px;
}

@media (max-width: 910px) {
  .about .text h1 {
    font-size: 30px;
  }
}

.about .text p {
  font-family: "Barlow", sans-serif;
  color: #818498;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 25px 0 0;
}

@media (max-width: 910px) {
  .about .text p {
    padding: 0;
    font-size: 17px;
  }
}

.about .text button.more {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: #23303e;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.about .text button.more:hover::before {
  opacity: 1;
}

.about .text button.more::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -1px;
  left: -2.5px;
  height: 8px;
  width: calc(100% + 5px);
  border-radius: 20px;
  opacity: 0.4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about .text button.more.red::before {
  background-color: #fe7867;
}

.about .text button.more.yellow::before {
  background-color: #fad400;
}

.about .special-1,
.about .special-2 {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 562.91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

.about .special-1 .text,
.about .special-2 .text {
  gap: 10px;
}

.about .special-1 h1,
.about .special-2 h1 {
  width: 100%;
  font-size: 30px;
}

@media (max-width: 910px) {
  .about .special-1 h1,
  .about .special-2 h1 {
    margin-bottom: 15px;
  }
}

.about .special-1 p,
.about .special-2 p {
  line-height: 1.7;
  font-size: 16px;
  padding: 0 50px;
}

@media (max-width: 910px) {
  .about .special-1 p,
  .about .special-2 p {
    padding: 0;
    font-size: 13px;
  }
}

@media (max-width: 910px) {
  .about .special-1,
  .about .special-2 {
    background-position: center;
  }
}

.about .special-1 {
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

.about .special-1 h1,
.about .special-1 p {
  color: #25564b;
  margin-bottom: 3px;
}

.about .special-2 {
  background-image: url("../images/desktop/image-photography.jpg");
}

.about .special-2 h1,
.about .special-2 p {
  color: #19536b;
}

.testimonials {
  padding: 140px 70px;
  font-family: "Fraunces", serif;
  text-align: center;
}

@media (max-width: 910px) {
  .testimonials {
    padding: 140px 0;
  }
}

.testimonials h1 {
  text-transform: uppercase;
  color: #a7abae;
  font-size: 20px;
  letter-spacing: 4px;
  margin-bottom: 60px;
}

.testimonials .boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 35px;
}

@media (max-width: 910px) {
  .testimonials .boxes {
    gap: 50px;
  }
}

.testimonials .boxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.testimonials .boxes .box img {
  border-radius: 50%;
  width: 60px;
}

.testimonials .boxes .box p {
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  line-height: 1.4;
  padding: 0 25px;
  color: #5a636c;
}

.testimonials .boxes .box .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.testimonials .boxes .box .info span {
  display: block;
}

.testimonials .boxes .box .info .name {
  color: #23303e;
  font-weight: 800;
}

.testimonials .boxes .box .info .job {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
  font-weight: normal;
  font-size: 15px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[auto-fill];
      grid-template-columns: repeat(auto-fill, 25%);
}

@media (max-width: 910px) {
  .gallery {
    -ms-grid-columns: (50%)[auto-fill];
        grid-template-columns: repeat(auto-fill, 50%);
  }
}

.gallery img {
  width: 100%;
}

.footer {
  padding: 70px 15px;
  background-color: #91d4c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-family: "Barlow", sans-serif;
}

.footer img.filter-green {
  -webkit-filter: invert(16%) sepia(281%) saturate(314%) hue-rotate(87deg) brightness(47%) contrast(100%);
          filter: invert(16%) sepia(281%) saturate(314%) hue-rotate(87deg) brightness(47%) contrast(100%);
  margin-bottom: 35px;
  width: 135px;
}

.footer ul.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  margin-bottom: 70px;
}

.footer ul.links li {
  font-size: 18px;
}

.footer ul.links li a {
  color: #458c7e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer ul.links li a:hover {
  color: white;
}

.footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.footer .icons svg {
  color: #25564b;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .icons svg:hover {
  color: white;
}
/*# sourceMappingURL=main.css.map */