// Importing Vars
@use "../variables/variables" as *;

// Importing Functions
@use "../helpers/funcs" as *;

// Importing Mixins
@use "../helpers/mixins" as *;

// Importing Global Rules
@use "../layout/global-rules" as *;

.about {
  position: relative;

  background-color: $white;

  padding: rem(100) 0 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(70);

    .card {
      box-shadow: rgb(0 0 0 / 20%) 0px 18px 18px -20px,
        rgb(0 0 0 / 20%) 18px 24px 18px -20px,
        rgb(0 0 0 / 20%) -18px 24px 18px -20px,
        rgb(0 0 0 / 20%) -20px -17px 13px -20px,
        rgb(0 0 0 / 20%) 20px -17px 15px -20px;

      border-radius: rem(15);

      padding: rem(65);

      display: flex;
      flex-direction: column;
      gap: rem(45);

      transition: $trDu;

      @include med-brk {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        &:nth-of-type(2) {
          flex-direction: row !important;
        }
      }
      > .wrapper {
        @include med-brk {
          flex-basis: 40%;
        }
      }
      > .text {
        @include med-brk {
          flex-basis: 45%;

          line-height: 1.4;
        }

        h1 {
          margin-bottom: rem(20);

          & + p {
            color: $gr-Blue;

            font-size: rem(18);

            max-width: rem(320);

            @include med-brk {
              max-width: none;
            }
          }
        }
      }
    }

    .ready-box {
      position: relative;
      bottom: rem(-60);
      left: 50%;
      transform: translateX(-400%);

      width: fit-content;

      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: $white;

      gap: rem(30);

      padding: rem(50) rem(30);

      box-shadow: rgb(0 0 0 / 20%) 0px 18px 18px -20px,
        rgb(0 0 0 / 20%) 18px 24px 18px -20px,
        rgb(0 0 0 / 20%) -18px 24px 18px -20px,
        rgb(0 0 0 / 20%) -20px -17px 13px -20px,
        rgb(0 0 0 / 20%) 20px -17px 15px -20px;

      border-radius: rem(20);

      transition: $trDu;
      transition-delay: 250ms;

      &.show {
        transform: translateX(-50%);
      }

      @include med-brk {
        padding: rem(60) rem(70);
      }

      > h1 {
        font-size: rem(28);

        @include med-brk {
          font-size: rem(31);
        }
      }
    }
  }
}
