// Importing Mixins
@import "../helpers/mixins";

// Importing Variables
@import "../variables/variables";

.about {
  font-family: $fFrances;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 100%));
  @include breakP() {
    grid-template-columns: repeat(1, 100%);
  }
  img {
    width: 100%;
    height: 100%;
    &:first-of-type {
      @include breakP() {
        order: -1;
      }
    }
  }
  .text {
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    @include breakP() {
      padding: 60px;
      align-items: center;
      text-align: center;
    }
    h1 {
      color: $vrDesBlue;
      font-size: 46px;
      @include breakP() {
        font-size: 30px;
      }
    }
    p {
      font-family: $fBarlaw;
      color: $dkGrBlue;
      font-size: 16px;
      line-height: 1.5;
      padding: 0 25px 0 0;
      @include breakP() {
        padding: 0;
        font-size: 17px;
      }
    }
    button.more {
      border: none;
      background-color: transparent;
      text-transform: uppercase;
      font-family: $fFrances;
      color: $vrDesBlue;
      position: relative;
      z-index: 10;
      cursor: pointer;
      &:hover::before {
        opacity: 1;
      }
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -1px;
        left: -2.5px;
        height: 8px;
        width: calc(100% + 5px);
        border-radius: 20px;
        opacity: 0.4;
        transition: $trDu;
      }
      &.red::before {
        background-color: $softRed;
      }
      &.yellow::before {
        background-color: $yellow;
      }
    }
  }
  .special-1,
  .special-2 {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 562.91px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    .text {
      gap: 10px;
    }
    h1 {
      width: 100%;
      font-size: 30px;
      @include breakP() {
        margin-bottom: 15px;
      }
    }
    p {
      line-height: 1.7;
      font-size: 16px;
      padding: 0 50px;
      @include breakP() {
        padding: 0;
        font-size: 13px;
      }
    }
    @include breakP() {
      background-position: center;
    }
  }
  .special-1 {
    background-image: url("../images/desktop/image-graphic-design.jpg");
    h1,
    p {
      color: $desCyan;
      margin-bottom: 3px;
    }
  }
  .special-2 {
    background-image: url("../images/desktop/image-photography.jpg");
    h1,
    p {
      color: $darkBlue;
    }
  }
}
