// Importing Variables
@import "../variables/variables";

// Importing Mixins
@import "../helpers/mixins";

.landing {
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: $fFrances;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  @include breakP() {
    gap: 55px;
  }
  min-height: 300px;
  padding: 60px;
  h1.title {
    text-transform: uppercase;
    text-align: center;
    color: $white;
    letter-spacing: 4px;
    font-weight: 800;
  }
  img {
    height: 80px;
    position: relative;
    bottom: 30px;
    animation: arrow-Down-Up 1s infinite;
    cursor: not-allowed;
    @include breakP() {
      height: 85px;
    }
  }
}
@include arAnim();
