// Colors
$red: hsl(0, 100%, 68%);
$vrDkBlue: hsl(230, 29%, 20%);
$darkGBlue: hsl(230, 11%, 40%);
$grBlue: hsl(231, 7%, 65%);
$lGrBlue: hsl(207, 33%, 95%);
$white: hsl(0, 0%, 100%);

// Fonts
$f-Barlow: "Barlow", sans-serif;
$f-Cond-Barlow: "Barlow Condensed", sans-serif;

// Durations
$trDu: 0.3s;
