// Importing Global Variables
@import "./variables/global-vars";

// Importing Functions
@import "./helpers/funcs";

// Importing Mixins
@import "./helpers/mixins";

// Importing Animations
@import "./layout/animations";

// Importing Global Rules
@import "./layout/global-rules";

main {
  height: 100%;
}

/* Importing Header */
@import "./pages/header";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
  background-color: rgba($stCyan, 0.9);

  border-radius: 100vmax;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $stCyan;
}

header {
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include des-brk {
    background-image: url(../images/bg-header-desktop.png);
    background-size: contain;
    background-position: top;
  }
}

/* Importing About */
@import "./pages/about";

/* Importing Intro */
@import "./pages/intro";

/* Importing Tools */
@import "./pages/tools";

/* Importing Companies */
@import "./pages/companies";

/* Importing Outro */
@import "./pages/outro";

/* Importing Footer */
@import "./pages/footer";
